---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pgadmin
  namespace: {{ pgadmin_argocd_namespace }}
spec:
  project: {{ pgadmin_argocd_project }}
  source:
    repoURL: "{{ pgadmin_helm_repo_url }}"
    chart: pgadmin4
    targetRevision: "{{ pgadmin_version }}"
    helm:
      values: |
        env:
          email: "{{ pgadmin_email }}"
          password: "{{ pgadmin_password }}"
          enhanced_cookie_protection: "False"
        persistentVolume:
          enabled: {{ pgadmin_pvc_enabled | lower }}
          size: "{{ pgadmin_pvc_size }}"
{% if pgadmin_pvc_storage_class %}
          storageClass: "{{ pgadmin_pvc_storage_class }}"
{% endif %}
        service:
          type: "{{ pgadmin_service_type }}"
          port: {{ pgadmin_service_port }}
{% if pgadmin_service_type == 'NodePort' %}
          nodePort: {{ pgadmin_nodeport }}
{% endif %}
{% if pgadmin_ingress_enabled %}
        ingress:
          enabled: true
          ingressClassName: "{{ pgadmin_ingress_class }}"
          hosts:
            - host: "{{ pgadmin_ingress_host }}"
              paths:
                - path: /
                  pathType: Prefix
{% if pgadmin_ingress_tls_enabled %}
          tls:
            - secretName: "{{ pgadmin_ingress_tls_secret }}"
              hosts:
                - "{{ pgadmin_ingress_host }}"
{% endif %}
{% endif %}
{% if pgadmin_server_definitions_enabled %}
        serverDefinitions:
          enabled: true
          servers:
            postgresql:
              Name: "PostgreSQL"
              Group: "Servers"
              Port: {{ pgadmin_server_port }}
              Username: "{{ pgadmin_server_username }}"
              Host: "{{ pgadmin_server_host }}"
              SSLMode: "prefer"
              MaintenanceDB: "{{ pgadmin_server_db }}"
{% endif %}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ pgadmin_namespace }}
{% if pgadmin_argocd_sync_policy == 'automated' %}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{% else %}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
{% endif %}
