---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rancher
  namespace: {{ rancher_argocd_namespace }}
spec:
  project: {{ rancher_argocd_project }}
  source:
    repoURL: "{{ rancher_helm_repo_url }}"
    chart: rancher
    targetRevision: "{{ rancher_version }}"
    helm:
      values: |
        hostname: "{{ rancher_hostname }}"
        bootstrapPassword: "{{ rancher_bootstrap_password }}"
        replicas: {{ rancher_replicas }}
{% if rancher_ingress_enabled %}
        tls: "{{ rancher_ingress_tls_source }}"
        ingress:
          enabled: true
          ingressClassName: "{{ rancher_ingress_class }}"
{% if rancher_ingress_tls_enabled %}
          tls:
            source: "{{ rancher_ingress_tls_source }}"
{% endif %}
{% if rancher_ingress_tls_source == 'letsEncrypt' %}
        letsEncrypt:
          email: "{{ rancher_letsencrypt_email }}"
          environment: "{{ rancher_letsencrypt_environment }}"
{% endif %}
{% else %}
        tls: external
        ingress:
          enabled: false
{% endif %}
        service:
          type: "{{ rancher_service_type }}"
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ rancher_namespace }}
{% if rancher_argocd_sync_policy == 'automated' %}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{% else %}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
{% endif %}
